/*MAIN StyleSheet*/
* {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

body {
    margin: 0;
}

header, footer {
    color: white;
}

/* système de grille*/

[class*="col-"] {
    width: 100%;
    padding: 0 0;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/* HEADER*/

header {
    height: 72px;
    text-align: center;
    vertical-align: bottom;
    background-color: #050c16;

}

/*MENU HAMBURGER*/

#menu-hamburger {
    position: relative;
    padding: 10px 0;
    min-width: 25%;
    float: right;
}

.menu-btn span {
    width: 40px;
    height: 3px;
    display: block;
    background-color: #94761f;
    margin: 5px;
}

header div div {
    align-content: center;
}

.noshow {
    display: none;
}

nav {
    clear: both;
    color: #94761f;

}

nav ul {
    list-style: none;
    padding: 0;
    color: white;
    text-decoration: none;
    margin: 0;
}

h1, h2, h3, h4 {
    color: #94761f;
}

nav ul li {
    border-top: 1px solid #010101;
    display: block;
    height: 50px;
    line-height: 50px;
}

#main_contenu {
}

nav ul li a {
    color: #94761f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    padding-left: 5px;
    display: block;
    text-align: left;
}

nav ul li a:hover {
    background-color: #e7ffe4;
    opacity: 0.5;
    width: auto;
    height: auto;
}

.mobile-nav {
    height: 50px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: bottom;
}

/* MAIN */
main {
    padding: 1%;
}

#logo {
    position: relative;
    height: 25px;
    min-width: 20%;
    width: 40px;
    padding-bottom: 25px;

}

#imgl {
    max-width: 100%;
    width: 75px;
}

#title {
    color: #fffafe;

}

img {
    max-width: 100%;

    width: 100%;

}

/*#articles{
    border-right: 1px #5d6c90 solid;

}*/

/* FOOTER*/
footer {
    height: 50px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: bottom;
    color: #94761f;
    background-color: #050c16;
}

@media (min-width: 992px) {

    #wrapper {
        width: 100%;
    }

    .col-m-12 {
        width: 100%;
    }

    .col-m-11 {
        width: 85%;
    }

    .col-m-10 {
        width: 80%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-7 {
        width: 70%;
    }

    .col-m-8 {
        width: 65%;

    }

    .col-m-5 {
        width: 50%;
    }

    .col-m-3 {
        width: 25%;
    }

    [class*="col-"] {
        float: left;
        padding: 0 30px
    }
}

@media (min-width: 768px) {

    #wrapper {
        width: 100%;
    }

    .col-12 {
        width: 100%;
    }

    .col-11 {
        width: 85%;
    }

    .col-10 {
        width: 80%;
    }

    .col-9 {
        width: 75%;
    }

    .col-8 {
        width: 65%;

    }

    .col-7 {
        width: 70%;

    }

    .col-5 {
        width: 25%;
    }

    .col-6 {
        width: 50%;
    }

    .col-3 {
        width: 15%;
    }

    .col-0 {
        width: 3%
    }

    [class*="col-"] {
        float: left;
        padding: 0 30px;
        text-align: center;
    }
}
